<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>




    <div class="card">
        <div class="card-body">


            <h1 class="card-title">Info</h1>

            <p class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Name: 오민영</li>
                <li class="list-group-item">Birthday: 2003. 02. 22.</li>
                <li class="list-group-item">Major: Statistics</li>
                <li class="list-group-item">MBTI: I(E)STP</li>

            </ul>

            </p>


        </div>
    </div>

    <div class="card">
        <div class="card-body">

            <h1 class="card-title">What I'm learning</h1>

            <p class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">English Conversation</li>
                <li class="list-group-item">Python</li>
                <li class="list-group-item">Flutter</li>
                <li class="list-group-item">JavaScript</li>
                <li class="list-group-item">Django</li>
                <li class="list-group-item">Pandas</li>
                <li class="list-group-item">Html/Css</li>

            </ul>
            </p>


        </div>
    </div>


    <div class="card">
        <div class="card-body">

            <h1 class="card-title">What I Like </h1>

            <p class="card-text">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Learning new things</li>
                <li class="list-group-item">Pikachu</li>
                
            </ul>
            </p>
        </div>
    </div>







</body>

</html>