{% extends 'base.html' %}

{% block content %}

<a href="{% url 'showpage' %}">Next Page</a>

<h2><a href="{%url 'new'%}">글쓰기</a></h2>

<h1>글 목록</h1>
{% for post in posts %}
<div>
    <h3>{{post.title}}</h3>
    {{post.writer}}<br>
    {{post.summary}} <br>
    <a href="{%url 'detail' post.id %}">...자세히</a>
</div>
{% endfor %}

<div class="card">
    <div class="card-body">


        <h1 class="card-title">Info</h1>

        <p class="card-text">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: 오민영</li>
            <li class="list-group-item">Birthday: 2003. 02. 22.</li>
            <li class="list-group-item">Major: Statistics</li>
            <li class="list-group-item">MBTI: I(E)STP</li>

        </ul>

        </p>


    </div>
</div>

<div class="card">
    <div class="card-body">

        <h1 class="card-title">What I'm learning</h1>

        <p class="card-text">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">English Conversation</li>
            <li class="list-group-item">Python</li>
            <li class="list-group-item">Flutter</li>
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">Django</li>
            <li class="list-group-item">Pandas</li>
            <li class="list-group-item">Html/Css</li>

        </ul>
        </p>


    </div>
</div>


<div class="card">
    <div class="card-body">

        <h1 class="card-title">What I Like </h1>

        <p class="card-text">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Learning new things</li>
            <li class="list-group-item">Pikachu</li>

        </ul>
        </p>
    </div>
</div>
{% endblock %}