{% extends 'base.html' %}

{% block content %}

<a href="{% url 'main:showpage' %}">Next Page</a>

{% if user.is_authenticated %}
<h2><a href="{%url 'main:new'%}">글쓰기</a></h2>

<h1>글 목록</h1>
{% for post in posts %}
<div>
    <h3>{{post.title}}</h3>
    {% if post.writer %}
        {% if 'user' in post.writer.username %}
            <h3>작성자 : {{ post.writer.last_name }} {{ post.writer.first_name }}</h3>
        {% else %}
            <h3>작성자 : {{ post.writer }}</h3>
        {% endif %}
    {% else %}
        <h3>작성자 : 알 수 없음</h3>
    {% endif %}

    {{post.summary}} <br>
    <a href="{%url 'main:detail' post.id %}">...자세히</a>
</div>
{% endfor %}

{% else %}
<a href="{% url 'account_login' %}" class="btn btn-warning">로그인</a>
<a href="{% url 'account_signup' %}" class="btn btn-warning">회원가입</a>
{% endif %}

<div class="card">
    <div class="card-body">


        <h1 class="card-title">Info</h1>

        <p class="card-text">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: 오민영</li>
            <li class="list-group-item">Birthday: 2003. 02. 22.</li>
            <li class="list-group-item">Major: Statistics</li>
            <li class="list-group-item">MBTI: I(E)STP</li>

        </ul>

        </p>


    </div>
</div>

<div class="card">
    <div class="card-body">

        <h1 class="card-title">What I'm learning</h1>

        <p class="card-text">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">English Conversation</li>
            <li class="list-group-item">Python</li>
            <li class="list-group-item">Flutter</li>
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">Django</li>
            <li class="list-group-item">Pandas</li>
            <li class="list-group-item">Html/Css</li>

        </ul>
        </p>


    </div>
</div>


<div class="card">
    <div class="card-body">

        <h1 class="card-title">What I Like </h1>

        <p class="card-text">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Learning new things</li>
            <li class="list-group-item">Pikachu</li>

        </ul>
        </p>
    </div>
</div>
{% endblock %}